{% extends "base.html" %} {% set active_page = "home" %} {% block content %}
<div class="grid grid-flow-row gap-2 w-full px-4 py-4">
  <div class="bg-teal-600 rounded-xl shadow-xl grid grid-flow-row shadow-inner h-screen">
    <div class="text-center col-span-12 row-span-6 bg-emerald-100">
      <h1 class="p-3 text-4xl font-black text-emerald-600">
        Plantopia - A Vegetation Cover Monitoring Application
      </h1>
      <p class="font-medium text-emerald-700 pb-3">
        Plantopia is a project build to estimate, monitor and analyze change in
        vegetation cover using GIS techniques. Vegetation cover defines the
        percentage of soil which is covered by green vegetation. In a wide range
        of environments, vegetation cover greatly affects both surface water
        runoff and sediment loss. A vegetation cover of 45-50% is considered a
        critical value since above this value soils are adequately protected
        from raindrop impact and soil erosion is significantly reduced. This
        project aims at the monitoring of the changing land cover and thus
        creating awareness regarding it.
      </p>
    </div>
    <div class="col-span-12 row-span-1 bg-green-600 flex content-center">
      <div class="flex flex-col mx-auto">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden rounded-xl">
              <table class="min-w-full text-center">
                <thead class="border-b bg-gray-800">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Serial Number
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Type
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Dataset
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Description
                    </th>
                  </tr>
                </thead class="border-b">
                <tbody>
                  <tr class="bg-white border-b hover:bg-green-100 hover:text-white">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Mark
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Otto
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @mdo
                    </td>
                  </tr class="bg-white border-b">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}