{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="grid grid-flow-row gap-2 w-full px-4 py-4">
  <div class="bg-teal-600 rounded-xl shadow-xl grid grid-flow-row shadow-inner h-screen">
    <div class="col-span-12 row-span-6 bg-red-600">
    </div>
    <div class="col-span-12 row-span-6 bg-green-600">
      <div class="gird grid-flow-col">
        <div class="bg-pink-400 col-span-6">s</div>
        <div class="bg-purple-400 col-span-6">s</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}